<a href="https://colab.research.google.com/github/fatemakotha/Data-Science/blob/main/50_Series%2CDataFrames%2CCSVs(exp_download_on_pc_drive)ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

###**Pandas has 2 main data types: **

*   Series 
*   DataFrames

In [ ]:
#Series
series = pd.Series(["BMW", "Ferrari", "Toyota"])

In [ ]:
colours = pd.Series(["black", "blue", "red"]) #DO NOT TYPE "colors" AS THAT IS A BUILT IN FUNCTION **

#####**Series are 1-dimentional**

In [ ]:
series

0        BMW
1    Ferrari
2     Toyota
dtype: object

In [ ]:
colours

0    black
1     blue
2      red
dtype: object

####**DataFrames are 2-dimentional**

In [ ]:
#DataFrame
car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

  Car make Colour
0      BMW  black
1  Ferrari   blue
2   Toyota    red

###IMPORT data:

In [ ]:
car_sales = pd.read_csv("car-sales.csv")

In [ ]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

###EXPORTING a DataFrame

In [ ]:
car_sales.to_csv("exported-car-sales.csv") #saves it in the same folder

##Export and Download files to computer

In [ ]:
from google.colab import files
car_sales.to_csv("exported-car-sales.csv")
files.download('exported-car-sales.csv')

##Export from Colab to Google drive

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
!touch "/content/gdrive/My Drive/exported-car-sales.csv"