<a href="https://colab.research.google.com/github/fatemakotha/Data-Science/blob/main/52_Pandas(desc_info_dtypes_indexmean_sum_len).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 import pandas as pd

In [3]:
car_sales = pd.read_csv("car-sales.csv")

In [4]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

##**ATTRIBUTES** of the DataFrame:

In [5]:
#Attribute:
car_sales.dtypes

#Functions:
# car_sales.to_csv()

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [7]:
#Attributes:
car_columns = car_sales.columns
car_columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [8]:
# car_columns.index #DOES NOT EXIST
car_sales.index

RangeIndex(start=0, stop=10, step=1)

##**FUNCTIONS** of the DataFrame:

***Describe***

In [9]:
car_sales.describe() #there is no "Price", because unlike Doors and Odometer(has int value), price has value of object

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

##**Info:**

In [10]:
car_sales.info()
#Make has 10 non-null objects
#Colour has 10 non-null objects 
#Doors has 10 non-null ints and so on. . . . .

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

##**The MEAN gives us the mean for numerical columns:**

In [15]:
#Mean of numerical values in a DataFrame:
car_sales.mean()

<ipython-input-15-cbc8ad68051c>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  car_sales.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [16]:
#Mean of a series:
car_prices = pd.Series([3000, 1500, 111250])
car_prices.mean()

38583.333333333336

##**SUM:**

In [17]:
#Sum:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [19]:
#Sum of the "Doors" column:
car_sales["Doors"].sum()

40

In [21]:
#Sum of the "Odometer (KM)" column:
car_sales["Odometer (KM)"].sum()

786014

##**LEN**

In [24]:
len(car_sales) #gives 10 because there are 10 data points

10

In [23]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00